body {
  background: rgb(166,216,222);
  background: linear-gradient(45deg, rgba(166,216,222,1) 0%, rgba(111,168,173,1) 18%, rgba(166,216,222,1) 38%, rgba(111,168,173,1) 58%, rgba(166,216,222,1) 78%);
}


  .navbar {
    background: none;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}