{%extends "plantilla.html"%}
    
{%block body%}
<div class="row">
<div class="col-md-6">

    <div class="container mt-3">
        <label for="formGroupExampleInput" class="form-label fs-2 text-white fw-semibold" style="display: flex; justify-content: center;">Ansiedad</label>
        <div class="list-group">
            <a href="/perfilMedico" class="list-group-item list-group-item-action">
                <label class="form-label fs-4 fw-semibold"> Jimena lugo Arriola</label>
                <label class="form-label fs-5"> Especializada en transtornos de ansiedad en adolescentes</label>
            </a>
            <a href="/perfilMedico" class="list-group-item list-group-item-action">
                <label class="form-label fs-4 fw-semibold"> Hello world</label>
                <label class="form-label fs-5"> Especialidad: Tratamiento de ansiedad con sesiones de ASMR</label>
            </a>
            <a href="/perfilMedico" class="list-group-item list-group-item-action">
                <label class="form-label fs-4 fw-semibold"> Naruto</label>
            </a>
          </div>
    </div>
</div>
<div class="col-md-6">
<div class="container mt-3">
    <label for="formGroupExampleInput" class="form-label fs-2 text-white fw-semibold" style="display: flex; justify-content: center;">Depresión</label>
    <div class="list-group">
        <a href="/perfilMedico" class="list-group-item list-group-item-action">Dominic Santiago</a>
        <a href="/perfilMedico" class="list-group-item list-group-item-action">A third link item</a>
        <a href="/perfilMedico" class="list-group-item list-group-item-action">A fourth link item</a>
      </div>
</div>
</div>
</div>


{%endblock%}