{%extends "plantilla.html"%}
    
{%block body%}
<div class="row">
<div class="col-md-6">

    <div class="container mt-3">
        <label for="formGroupExampleInput" class="form-label fs-2 text-white fw-semibold" style="display: flex; justify-content: center;">Ansiedad</label>
        <div class="list-group">
            <a href="/perfilMedico" class="list-group-item list-group-item-action">
                <label class="form-label fs-4 fw-semibold"> Jimena lugo Arriola</label>
                <label class="form-label fs-5"> Especializada en el tratamiento de trastornos de ansiedad y depresión, utilizando terapias cognitivo-conductuales para ayudar a sus pacientes a manejar sus síntomas y mejorar su calidad de vida</label>
            </a>
            <a href="/perfilMedico" class="list-group-item list-group-item-action">
                <label class="form-label fs-4 fw-semibold"> Carlos Mendez</label>
                <label class="form-label fs-5"> Se centra en el desarrollo emocional y conductual de los niños, trabajando con familias para abordar problemas como el TDAH, el autismo y otros trastornos del desarrollo.</label>
            </a>
            <a href="/perfilMedico" class="list-group-item list-group-item-action">
                <label class="form-label fs-4 fw-semibold"> Elena Rodríguez</label>
                <label class="from-label fs-5">Trabaja en la intersección de la psicología y el sistema legal, realizando evaluaciones psicológicas para casos judiciales y proporcionando testimonios de expertos en tribunales.</label>
            </a>
          </div>
    </div>
</div>
<div class="col-md-6">

    <div class="container mt-3">
        <label for="formGroupExampleInput" class="form-label fs-2 text-white fw-semibold" style="display: flex; justify-content: center;">Depresión</label>
        <div class="list-group">
            <a href="/perfilMedico" class="list-group-item list-group-item-action">
                <label class="from-label fs-4 fw-semibold">Dominic Santiago</label>
                <label class="from-label fs-5">Enfocado en mejorar los procesos de enseñanza y aprendizaje, trabaja con escuelas y estudiantes para desarrollar programas educativos y estrategias de intervención para superar dificultades académicas.</label>
            </a>
            <a href="/perfilMedico" class="list-group-item list-group-item-action">
                <label class="form-label fs-4 fw-semibold"> Ana Morales</label>
                <label class="form-label fs-5"> Se dedica a mejorar la dinámica en el lugar de trabajo, abordando problemas de estrés laboral, motivación y desarrollo de liderazgo a través de programas de bienestar y capacitación.</label>
            </a>
            <a href="/perfilMedico" class="list-group-item list-group-item-action">
                <label class="form-label fs-4 fw-semibold"> Pedro García</label>
                <label class="from-label fs-5">Especialista en la promoción de la salud y el bienestar, ayuda a los pacientes a manejar enfermedades crónicas y promueve hábitos de vida saludables mediante terapias de apoyo y programas educativos.</label>
            </a>
      </div>
</div>
</div>
</div>


{%endblock%}