<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectMentalBalance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body class="bg-dark.bg-gradient">
  <header id="header" class="alt">
    <div class="logo">
        <a href="/">Project <span>MENTAL BALANCE</span></a>
    </div>
    {% if session.get('logged_in') %}
        <a href="#menu">Menu</a>
    {% else %}
        <a class="button" href="/inicioS">INICIAR SESION</a>
    {% endif %}
</header>

{% if session.get('logged_in') %}
<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/test">TEST</a></li>
        <li><a href="/directorio">DIRECTORIO</a></li>
        <li><a href="/perfil">PERFIL</a></li>
        <li><a href="/logout" class="nav-link text-white">SALIR</a></li>
    </ul>
</nav>
{% endif %}
<div class="row">
<div class="col-md-6">

    <div class="container mt-3">
        <label for="formGroupExampleInput" class="form-label fs-2 text-white fw-semibold" style="display: flex; justify-content: center;">Ansiedad</label>
        <div class="list-group">
            <a href="/perfilMedico" class="list-group-item list-group-item-action">
                <label class="form-label fs-4 fw-semibold"> USUARIO1</label>
                <label class="form-label fs-5"> Descripción del profesional</label>
            </a>
            <a href="/perfilMedico" class="list-group-item list-group-item-action">
                <label class="form-label fs-4 fw-semibold">  USUARIO2</label>
                <label class="form-label fs-5"> Descripción del profesional</label>
            </a>
            <a href="/perfilMedico" class="list-group-item list-group-item-action">
                <label class="form-label fs-4 fw-semibold"> USUARIO3</label>
                <label class="from-label fs-5">Descripción del profesional</label>
            </a>
          </div>
    </div>
</div>
<div class="col-md-6">

    <div class="container mt-3">
        <label for="formGroupExampleInput" class="form-label fs-2 text-white fw-semibold" style="display: flex; justify-content: center;">Depresión</label>
        <div class="list-group">
            <a href="/perfilMedico" class="list-group-item list-group-item-action">
                <label class="from-label fs-4 fw-semibold">USUARIO4</label>
                <label class="from-label fs-5">Descripción del profesional</label>
            </a>
            <a href="/perfilMedico" class="list-group-item list-group-item-action">
                <label class="form-label fs-4 fw-semibold"> USUARIO5</label>
                <label class="form-label fs-5">Descripción del profesional</label>
            </a>
            <a href="/perfilMedico" class="list-group-item list-group-item-action">
                <label class="form-label fs-4 fw-semibold"> USUARIO6</label>
                <label class="from-label fs-5">Descripción del profesional</label>
            </a>
      </div>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.scrollex.min.js"></script>
    <script src="/static/js/skel.min.js"></script>
    <script src="/static/js/util.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>
