<!DOCTYPE HTML>

<head><title>Project Mental Balance</title><meta charset="utf-8"><meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"><meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head><body>

<!-- Header -->
<header id="header" class="alt">
    <div class="logo">
        <a href="/">Project <span>MENTAL BALANCE</span></a>
    </div>
    {% if session.get('logged_in') %}
        <a href="#menu">Menu</a>
    {% else %}
        <a class="btn btn2-custom" href="/inicioS">INICIAR SESION</a>
    {% endif %}
</header>

{% if session.get('logged_in') %}
<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/test">TEST</a></li>
        <li><a href="/directorio">DIRECTORIO</a></li>
		<li><a href="/perfil">PERFIL</a></li>
        <li><a href="/logout" class="nav-link text-white">SALIR</a></li>
    </ul>
</nav>
{% endif %}


<!-- Banner -->
<section class="banner full">
    <article>
        <img src="{{ url_for('static', filename='images/slide01.jpg') }}" alt="" width="1440" height="961">
        <div class="inner">
            <header>
                <p>Tu espacio de apoyo para fomentar el bienestar emocional y la armonía mental.</p>
                <h2>Project Mental Balance</h2>
            </header>
        </div>
    </article>
</section>
<section id="two" class="wrapper style3"><div class="inner">
	<header class="align-center"><h2>¡¡BIENVENIDO!!</h2>
		<p>Si estas en este lugar significa que tienes dudas acerca de tu salud mental, hay que recordar que la salud mental es muy importante, ya que dependiendo cómo estemos mentalmente puede afectar significativamente nuestras vidas, empezando por cosas pequeñas como perder el apetito, el insomnio, no querer hacer nada, desmotivación, etc.
			Si bien, no puedes autodiagnosticarte, es importante que sepas detectar cuáles cosas han pasado en tu vida que ponen en riesgo tu salud mental, es por eso que te ayudaremos!!
			Este sitio web esta destinado a personas que no saben a donde ir mientras dudan de tener una buena salud mental, los que tienen dudas son bienvenidos, y sino también son bienvenidos a conocer más sobre la salud mental y por qué es tan importante como la salud física.</p>
	</header></div>
</section><!-- Three --><section id="three" class="wrapper style2"><div class="inner">
	<header class="align-center"><p class="special">Te queremos mostrar</p>
		<h2>¿QUIENES SOMOS?</h2>
	</header><div class="gallery">
<div>
		<div class="image fit">
			<a href="#"><img src="/static/images/pic001.jpeg" alt="" width="600" height="300"></a>
		</div>
	</div>
	<div>
		<h2>Misión</h2>
		<p>Nuestra misión es proporcionar a los jóvenes un espacio seguro y accesible donde puedan obtener recursos, apoyo y orientación sobre salud mental. Nos comprometemos a promover el bienestar emocional y mental a través de la educación, la sensibilización y la intervención temprana.</p>
	</div>
	<div>
		<div class="image fit">
			<a><img src="/static/images/pic002.jpg" alt="" width="600" height="300"></a>
		</div>
	</div>
	<div>
		<h2>Visión</h2>
		<p>Visualizamos una sociedad en la que todos los jóvenes tengan acceso a los recursos necesarios para mantener una buena salud mental. Aspiramos a eliminar el estigma asociado con los problemas de salud mental y crear una cultura de comprensión y apoyo mutuo.</p>
	</div>
	<div>
		<div class="image fit">
			<a><img src="/static/images/pic003.jpg" alt="" width="600" height="300"></a>
		</div>
	</div>
	<div>
		<h2>Objetivos</h2>
		<ul>
			<li>Proveer información y recursos confiables sobre salud mental para jóvenes.</li>
			<li>Ofrecer apoyo y orientación a través de profesionales capacitados.</li>
			<li>Fomentar la educación sobre la importancia del bienestar emocional en la juventud.</li>
			<li>Crear una comunidad inclusiva y empática donde los jóvenes puedan compartir sus experiencias.</li>
			<li>Desarrollar programas y talleres que promuevan habilidades de afrontamiento y resiliencia.</li>
		</ul>
	</div>
</div>
</div>
</section><!-- Footer -->
<footer id="footer">

</footer>
<div class="copyright">
	Made with MUCHO CAFÉ.
</div>

<!-- Scripts -->
<!-- Scripts -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.scrollex.min.js"></script>
<script src="/static/js/skel.min.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/main.js"></script>
</body>

