{%extends "plantilla.html"%}
    
{%block body%}
    <div class="container-lg mt-5 mb-5 w-75 p-3 border-opacity-75 rounded-4" style="background-color: #ffffff;">
        <p class="fw-semibold fs-2">
            Bienvenido!!
        </p>
        
        <p class=" fs-5"> Si estas en este lugar significa que tienes dudas acerca de tu salud mental, hay que recordar que la salud mental 
            es muy importante, ya que dependiendo cómo estemos mentalmente puede afectar significativamente nuestras vidas,
            empezando por cosas pequeñas como perder el apetito, el insomnio, no querer hacer nada, desmotivación, etc.
        </p>
        <p class=" fs-5">

            Si bien, no puedes autodiagnosticarte, es importante que sepas detectar cuáles cosas han pasado en tu vida que ponen en 
            riesgo tu salud mental, es por eso que te ayudaremos!!
        </p>
        <p class=" fs-5">
            Este sitio web esta destinado a personas que no saben a donde ir mientras dudan de tener una buena salud mental,
            los que tienen dudas son bienvenidos, y sino también son bienvenidos a conocer más sobre la salud mental y por qué es
            tan importante como la salud física. 
        </p>
    </div>
{%endblock%}