{%extends "plantilla.html"%}
    
{%block body%}
<div class="row">
<div class="col-md-6">
    <div class="container-lg mt-3 w-75 p-3 border-opacity-75 rounded-4" style="background-color: #556a8de7;">
        <label for="formGroupExampleInput" class="form-label fs-2 text-white fw-semibold">Perfil Médico</label>
        <form>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Nombre completo</label>
                <input type="text" class="form-control border-primary border-opacity-75 rounded" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="txtRFC" name="txtRFC" maxlength="11" disabled>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Cédula profesional</label>
                <input type="text" class="form-control border-primary border-opacity-75 rounded" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="txtNombre" name="txtNombre" disabled>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Telefóno</label>
                <input type="text" class="form-control border-primary border-opacity-75 rounded" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="txtNombre" name="txtNombre" disabled>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Correo</label>
                <input type="text" class="form-control border-primary border-opacity-75 rounded" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="txtNombre" name="txtNombre" disabled>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Usuario</label>
                <input type="text" class="form-control border-primary border-opacity-75 rounded" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="txtNombre" name="txtNombre" disabled>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Contraseña</label>
                <input type="text" class="form-control border-primary border-opacity-75 rounded" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="txtNombre" name="txtNombre" disabled>
            </div>
        </form>
    </div>
</div>
<div class="col-md-6">
    <div class="container-lg mt-3 w-75  p-3 border-opacity-75 rounded-4" style="background-color: #A6D8DE;">
    <div class="mb-3">
        <a img="">Aquí va una imagen</a>
    </div>
    </div>
</div>
</div>

{%endblock%}